/** Flapjackers special CSS stuf **/

.challenge-table-class {
  /**background: gray;**/
  border-collapse: collapse;
  width: 100%;
  text-align: left;
  th {color: darkblue; border-bottom: 2px solid #ddd; text-align: left;}
  tr:nth-child(4n-1), tr:nth-child(4n) {background-color: #e2e2e2};
  th:nth-child(1) {width: 6%};
  th:nth-child(2) {width: 20%};
  th:nth-child(3) {width: 14%};
  th:nth-child(4), th:nth-child(5), th:nth-child(6), th:nth-child(7) {width: 15%};
}
